<div class="register-form container">
    <form [formGroup]="myForm" #ff="ngForm" (ngSubmit)="onSubmit()">

      <input formGroupName="id" type="hidden">

        <div class="form-group">
            <label>Name</label>
            <input type="text" formGroupName="name" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                <div *ngIf="f['name'].errors['required']">Name is required</div>
                <!-- <div *ngIf="f['name'].errors['minlength']">
            Username must be at least 6 characters
          </div>
          <div *ngIf="f['name'].errors['maxlength']">
            Username must not exceed 20 characters
          </div> -->
            </div>
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">Email is required</div>
                <div *ngIf="f['email'].errors['email']">Email is invalid</div>
            </div>
        </div>

        <div class="form-group">
            <label>Phone</label>
            <input type="text" formControlName="phoneNumber" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['phoneNumber'].errors }" />
            <div *ngIf="submitted && f['phoneNumber'].errors" class="invalid-feedback">
                <div *ngIf="f['phoneNumber'].errors['required']">Phone is required</div>
                <div *ngIf="f['phoneNumber'].errors['minlength']">
                    Phone must be at least 11 characters
                </div>
                <div *ngIf="f['phoneNumber'].errors['maxlength']">
                    Username must not exceed 14 characters
                </div>
            </div>
        </div>


        <button (click)="addGroup()">Add</button>
        <br>

        <div formArrayName="educationaInfo" *ngFor="let time of this.fa?.controls; let i = index;">
            <div [formGroupName]="i">
                
                <select formControlName="qualification">
                    <option [value]="'SSC'">SSC</option>
                    <option  [value]="'SSC'">HSC</option>
                    <option  [value]="'SSC'">BSC</option>
                    <option  [value]="'SSC'">MSC</option>
                </select>

                <input placeholder="institute" formControlName="institute">
                <input placeholder="institute"  formControlName="grade">
                <input placeholder="from" type="date" formControlName="from">
                <input placeholder="to" type="date" formControlName="to">
            </div>
            <span (click)="removeGroup(i)">Remove this group</span>
        </div>




        <div class="form-group">
            <button type="submit" class="btn btn-primary">Register</button>
            <button type="button" class="btn btn-warning float-right">
                Reset
            </button>
        </div>
    </form>

</div>



<div>
    <pre>
                {{myForm.value | json}}
                </pre>
</div>