<div class="register-form container">
    <form [formGroup]="myForm" #ff="ngForm" (ngSubmit)="onSubmit()">
        <input formGroupName="id" type="hidden">

        <div class="form-group">
            <label>Name</label>
            <input type="text" formControlName="name" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                <div *ngIf="f['name'].errors['required']">Name is required</div>
            
            </div>
        </div>
        
        <div class="form-group">
            <label>address</label>
            <input type="text" formControlName="address" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['address'].errors }" />
            <div *ngIf="submitted && f['address'].errors" class="invalid-feedback">
                <div *ngIf="f['address'].errors['required']">address is required</div>
            </div>
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">Email is required</div>
                <div *ngIf="f['email'].errors['email']">Email is invalid</div>
            </div>
        </div>

        <div class="form-group">
            <label>Phone</label>
            <input type="text" formControlName="phoneNumber" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['phoneNumber'].errors }" />
            <div *ngIf="submitted && f['phoneNumber'].errors" class="invalid-feedback">
                <!-- <div *ngIf="f['phoneNumber'].errors['required']">Phone is required</div> -->
                <!-- <div *ngIf="f['phoneNumber'].errors['minlength']">
                    Phone must be at least 11 characters
                </div> -->
                <div *ngIf="f['phoneNumber'].errors['pattern']">
                    Invalid Phone Number
                </div>
                <!-- <div *ngIf="f['phoneNumber'].errors['maxlength']">
                    Username must not exceed 14 characters
                </div> -->
            </div>
        </div>



        <!-- <div  *ngFor="let addressGroup of educationIfos.controls;let i = index" [formGroupName]="addressGroup" >

            form No : {{i}}
            <div>
                street <input formControlName="name">
            </div>

            <div>
                city <input formControlName="institute">
            </div>
        </div> -->

        <!-- <div class="form-group">
        <label>EducationInfo</label>
        <input
          type="text"
          formControlName="educationInfo"
          class="form-control"
          readonly
          [ngClass]="{ 'is-invalid': submitted && f['educationInfo'].errors }"
        />
        <div *ngIf="submitted && f['educationInfo'].errors" class="invalid-feedback">
          <div *ngIf="f['educationInfo'].errors['required']">EducationInfo is required</div>
       
        </div>
      </div> -->

        <!-- <button (click)="addGroup()">Add</button> -->
        <p>Add qualification</p>
       
        <div formArrayName="educationaInfo" *ngFor="let time of this.fa?.controls; let i = index;">
            <!-- <div [formGroupName]="i" style="display: flex;flex-direction:column;gap: 10px;"> -->
            <div [formGroupName]="i" >
               
                <select formControlName="qualification" >
                    
                    <option [value]="'SSC'">SSC</option>
                    <option  [value]="'HSC'">HSC</option>
                    <option  [value]="'BSC'">BSC</option>
                    <option  [value]="'MSC'">MSC</option>
                </select>

                <input placeholder="institute"  formControlName="institute">
                <input placeholder="Grade" type="number" formControlName="grade">
                <input placeholder="from" type="date" formControlName="from">
                <input placeholder="to" type="date" formControlName="to">
                
                <button  class="btn btn-primary gap-5" (click)="addGroup()">Add</button>
                <button (click)="removeGroup(i)" class="btn btn-danger" >X</button>
            </div>      
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-warning float-right">
                Reset
            </button>
        </div>
    </form>

    <!-- <div>
        <form [formGroup]="EducationForm" #ff="ngForm">
            <div class="form-group">
                <label>name</label>
                <input
                  type="text"
                  formControlName="name"
                  class="form-control"
                  readonly
                  [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
                />
                <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                  <div *ngIf="f['name'].errors['required']">EducationInfo is required

                  </div>
               
                </div>
            </div>
            <div class="form-group">
                <label>Intitute</label>
                <input
                  type="text"
                  formControlName="intitute"
                  class="form-control"
                  readonly
                  [ngClass]="{ 'is-invalid': submitted && f['intitute'].errors }"
                />
                <div *ngIf="submitted && f['intitute'].errors" class="invalid-feedback">
                  <div *ngIf="f['intitute'].errors['required']">EducationInfo is required

                  </div>
               
                </div>
            </div>
            <div class="form-group">
                <label>Grade</label>
                <input
                  type="text"
                  formControlName="grade"
                  class="form-control"
                  readonly
                  [ngClass]="{ 'is-invalid': submitted && f['grade'].errors }"
                />
                <div *ngIf="submitted && f['grade'].errors" class="invalid-feedback">
                  <div *ngIf="f['grade'].errors['required']">grade is required

                  </div>
               
                </div>
            </div>
            <div class="form-group">
                <label>From</label>
                <input
                  type="text"
                  formControlName="from"
                  class="form-control"
                  readonly
                  [ngClass]="{ 'is-invalid': submitted && f['from'].errors }"
                />
                <div *ngIf="submitted && f['from'].errors" class="invalid-feedback">
                  <div *ngIf="f['from'].errors['required']">date is required

                  </div>
               
                </div>
            </div>
            <div class="form-group">
                <label>To</label>
                <input
                  type="text"
                  formControlName="to"
                  class="form-control"
                  readonly
                  [ngClass]="{ 'is-invalid': submitted && f['to'].errors }"
                />
                <div *ngIf="submitted && f['to'].errors" class="invalid-feedback">
                  <div *ngIf="f['to'].errors['required']">EducationInfo is required

                  </div>
               
                </div>
            </div>
           
          
             
        
              <div>
                <button (click)="addEducationInfo()">Add Edu Info</button>
              </div>
        </form>
    </div> -->
</div>


<!-- <div class="form-group">
                <label>EducationInfo</label>
                <input
                  type="text"
                  formControlName="name"
                  class="form-control"
                  readonly
                  [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
                />
                <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                  <div *ngIf="f['name'].errors['required']">EducationInfo is required

                  </div>
               
                </div>
            </div> -->

<div>
    <!-- <pre>{{myForm.value | json}}</pre> -->
</div>